*.log
*.json
*.css
*.less
*.scss
*.html
*.md
*.lock
*.swp

.github
.cache
.temp
.idea
.rn_temp
.DS_Store
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.stylelintignore
LICENSE
build
plugins
vite.config.ts
proxy.config.ts
antm.config.js

dist

